@model hello_world_asp_dotnet_mvc.Models.GuestsResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Dziękujemy</title>

    <style>
        body {  background-color: #F1F1F1;   }
    </style>


</head>
<body>

    @try
    {
        WebMail.SmtpServer = "smtp.wp.pl";
        WebMail.SmtpPort = 465;
        WebMail.EnableSsl = true;
        WebMail.UserName = "rafalx117";
        WebMail.Password = "audi80";
        WebMail.From = "rafalx117@wp.pl";

        WebMail.Send("rafalx117@gmail.com", "Powiadomienie RSVP", Model.Name + ((Model.WillAttend ?? false) ? "" : "nie") + "przyjdzie");

    }    catch(Exception)
    {
        @:<b>Przepraszamy - nie możemy wysłać wiadomości RSVP.</b>
    }

    <div class="text-center"> 
        <h1>Dziękujemy, @Model.Name!</h1>
       <div class="lead">
           @if (Model.WillAttend == true)
           {
               @: Cieszymy się, że przyjdziesz do nas. Napoje są już w lodówce!
        }
           else
           {
               @: Przykro nam, że nie możesz się zjawić, ale dziękujemy za informację.
        }
       </div>
    </div>
</body>
</html>
